<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hydroponics_Major_Project"
        tools:targetApi="31" >
        <activity
            android:name=".read_data"
            android:exported="false" />
        <activity
            android:name=".ScrollActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateParameters"
            android:exported="false" />
        <activity
            android:name=".AddCrop"
            android:exported="false" />
        <activity
            android:name=".SelectCrop"
            android:exported="false" />
        <activity 
            android:name=".LiveStatus"
            android:exported="false" />
        <activity
            android:name=".SetParameters"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="true" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" >

        </activity>
    </application>

</manifest>